<div class="fondo">
  <div class="ms-2 mt-2">
    <a routerLink="/home" class="btn btn-primary btn-sm">Home</a>
    <button class="btn btn-primary btn-sm text-center ms-3" (click)="showCardHelpInstall()">
      Instalación
    </button>
    <a class="btn btn-primary btn-sm ms-3" href="assets/InstalarPlugin.pdf" download>Help pdf</a>
  </div>

  <h4 style="margin-top: 8vh; color:black;">Complementos (Plugin's) para cad</h4>

  <div id="divCards" class="row">

    <div class="col-sm-4">
      <div class="card h-100">
        <div class="card-header" style="display: flex; justify-content: space-between;">
          <h5 class="d-inline">Controles geográficos</h5>
          <button class="d-inline btn btn-primary btn-sm" (click)="verControlesGeograficos()">?</button>
        </div>
        <div class="card-body">
          <p class="card-text">
            Este plugin envia el plano activo a la página de
            ARBA para que se le apliquen los controles geográficos
            y muestra los resultados dentro del programa cad.
          </p>
          <p class="card-text">
            La versión trial (de prueba) funciona por completo, sin
            restricciones, en forma gratuita, por siete dias.
          </p>
        </div>
        <div class="card-footer text-center">
          <a class="btn btn-primary btn-sm" href="assets/ControlesGeo.msi" download>Descargar plugin</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card h-100">
        <div class="card-header" style="display: flex; justify-content: space-between;">
          <h5 class="d-inline">Cálculo área polígonos en layer</h5>
          <button class="d-inline btn btn-primary btn-sm" (click)="switchShowCardHelpAreaPoligonos()">?</button>
        </div>
        <div class="card-body">
          <p class="card-text">
            Este plugin calcula el área de todas las polílineas cuyo punto de
            inicio coincida con el punto final (polígonos cerrados), que se encuentran
            en una determinada capa (layer).
          </p>
          <p class="card-text">
            La versión trial (de prueba) funciona por completo, sin
            restricciones, en forma gratuita, por siete dias.
          </p>
        </div>
        <div class="card-footer text-center">
          <a class="btn btn-primary btn-sm" href="assets/PoligonosAreasInstaller.msi" download>Descargar plugin</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card h-100">
        <h5 class="card-header text-center">Cambiar todos los textos a mayusculas o minusculas</h5>
        <div class="card-body">
          <p class="card-text">
            Este plugin cambia todos los textos de un plano, o todos aquellos que se
            encuentren en una determinada capa (layer|), a mayusculas o minusculas
          </p>
          <p class="card-text">
            La versión trial (de prueba) funciona por completo, sin
            restricciones, en forma gratuita, por siete dias.
          </p>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-primary btn-sm">No disponible aún</button>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="showControlesGeograficos" class="card" style="width: 18rem; position:absolute; top: 25vh; left: 5%">
    <div class="card-body">
      <p class="card-text">
        Este plugin está diseñado para los profesionales de la Agrimensura de la Provincia
        de Buenos Aires, Argentina, los cuales envian archivos cad en formato DXF a la
        Agencia de Recaudación de la Provincia (ARBA).
      </p>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-primary btn-sm" (click)="verControlesGeograficos()">Cerrar</button>
    </div>
  </div>

  <div *ngIf="showAreaPoligonos" class="card" style="width: 18rem; position:absolute; top: 25vh; left: 40%">
    <div class="card-body">
      <p class="card-text">
        Este plugin es de uso genérico. Proporciona información de las áreas de los polígonos que se encuentran
        en el layer seleccionado y realiza la sumatoria de todas las áreas. Dispone de una opción para recalcular
        en caso de modificaciones tanto en la cantidad de poligonos como en el área de cada uno.
      </p>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-primary btn-sm" (click)="switchShowCardHelpAreaPoligonos()">Cerrar</button>
    </div>
  </div>

  <div *ngIf="showHelpInstall" class="card" style="width: 60rem; position:absolute; top: 10vh; left: 5%">
    <div class="card-body">
      <h6><u>Para instalar complementos (plugins):</u></h6>
      <p class="card-text" style="font-family: Arial; font-size: 14px; line-height: 1.2;">
        Cada complemento (plugin) es un archivo con extensión ".dll". Por ejemplo el que cálcula áreas es PoligonosAreas.dll.<br><br>
        Cuando se realiza la instalación aceptando las opciones por defecto, este archivo de tipo dll quedará en la carpeta 
        "Archivos de programa/Argengis/Poligonos Areas/PoligonosAreas.dll" (en el caso de este ejemplo).<br><br>

        <u>Es importante tener en claro la ubicación del complemento</u> porque para utilizarlo hay que tipear en la línea de comandos
        del cad el comando <b>"Netload"</b> y presionar Enter.<br><br>
 
        Este comando muestra una pantalla de selección de archivos, propia de Windows, y en esa pantalla hay que localizar y 
        seleccionar este archivo dll ("PoligonosAreas.dll" en este ejemplo). Con esto el complemento quedá incorporado al cad
        como un comando más.<br><br>

        Por último, en la línea de comandos del cad, escribir "calcarea" (para este ejemplo) y presionar Enter para comenzar la 
        ejecución del complemento (o plugin).<br><br>
        
        Al finalizar la instalación de cualquier plugin, queda una carpeta en el escritorio de Windows con el nombre del plugin
        descargado, conteniendo un archivo de texto con instrucciones.
      </p>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-primary btn-sm" (click)="showCardHelpInstall()">Cerrar</button>
    </div>
  </div>
</div>