
<div class="fondo">
  <div class="ms-2 mt-2">
    <a routerLink="/home" class="btn btn-primary btn-sm">Home</a>
 </div>
 
  <h4 style="margin-top: 8vh; color:black;">Complementos (Plugin's) para Autocad</h4>

  <div id="divCards" class="row">

    <div class="col-sm-4">
      
      <div class="card h-100">
        <h5 class="card-header text-center">Controles geográficos</h5>
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <!-- <h5 class="card-title">Controles geográficos</h5> -->
          <p class="card-text">
            Este plugin envia el plano activo a la página de
            ARBA para que se le apliquen los controles geográficos
            y muestra los resultados dentro de Autocad.
          </p>
          <p class="card-text">
            La versión trial (de prueba) funciona por completo, sin
            restricciones, en forma gratuita, por siete dias.
          </p>
        
        </div>
        <div class="card-footer text-center">
          <a class="btn btn-primary btn-sm" href="assets/ControlesGeo.msi" download>Descargar plugin</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card h-100">
        <h5 class="card-header text-center">Cálculo área poligonos en layer</h5>
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <!-- <h5 class="card-title">Cálculo área poligonos en layer</h5> -->
          <p class="card-text">
            Este plugin calcula el area de todos los poligonos hechos
            con polilineas cerradas que se encuentran dentro de una 
            determinada capa (layer)
          </p>
          <p class="card-text">
            La versión trial (de prueba) funciona por completo, sin
            restricciones, en forma gratuita, por siete dias.
          </p>
      
        </div>
        <div class="card-footer text-center">
          <!-- <a routerLink="/cad" class="btn btn-primary btn-sm">Descargar plugin</a> -->
          <!-- <a class="btn btn-primary btn-sm" href="assets/AcadPluginsInstaller.msi" download disabled>Descargar plugin</a> -->
          <button class="btn btn-primary btn-sm">No disponible aún</button>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card h-100">
        <h5 class="card-header text-center">Cambiar todos los textos a mayusculas o minusculas</h5>
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <!-- <h5 class="card-title">Controles geográficos</h5> -->
          <p class="card-text">
            Este plugin cambia todos los textos de un plano, o todos aquellos que se 
            encuentren en una determinada capa (layer|), a mayusculas o minusculas
          </p>
          <p class="card-text">
            La versión trial (de prueba) funciona por completo, sin
            restricciones, en forma gratuita, por siete dias.
          </p>
       
        </div>
        <div class="card-footer text-center">
          <!-- <a routerLink="/cad" class="btn btn-primary btn-sm">Descargar plugin</a> -->
          <!-- <a class="btn btn-primary btn-sm" href="assets/AcadPluginsInstaller.msi" download>Descargar plugin</a> -->
          <button class="btn btn-primary btn-sm">No disponible aún</button>
        </div>
      </div>
    </div>

  </div>

</div>