<section class="container">
    
    <header class="row text-center mb-2 sticky-top bg-white">
        <a routerLink="/" class="btn btn-primary btn-sm col-1 mb-1 mt-2" style="width: 5vw; height: 30px;">Home</a>
        <h3 class="col">Portfolio de M.H.</h3>
        <img class="col" title="Marcelito"
             src="assets/images/perfil.png" 
             alt="Una foto de M.H."
             style='max-width: 12vh; max-height: 12vh; '>
        <a class="col" download href="cvHosan.pdf">Descargar cv</a>

        <nav style="background-color: rgb(194, 226, 247); border-radius: 6px;">
            <a routerLink="/portfolio" fragment="experiencia">Experiencia</a>
            <a routerLink="/portfolio" fragment="proyectos">Proyectos</a>
            <a target="_blank" href="https://github.com/mhosan" ref="noreferrer">Repos Github</a>
            <a routerLink="/portfolio" fragment="tecnoFavoritas">Mis tecnologías favoritas</a>
        </nav>
    </header>

    <main>
        <p>+ 30 años experiencia en sistemas.
            Desarrollador desktop y web.
            + 9 años Angular.
        </p>

        <section id="experiencia">
            <h2>Experiencia</h2>
            <ol reversed>
                <li>ARBA actualidad</li>
                <li>Docente GIS IPAP actualidad</li>
                <li>Tsoft - YPF 2023</li>
                <li>Stefanini - Prisma 2022</li>
                <li>Municip. La Plata 2007</li>
                <li>Consejo Prof. de Agrim. 2005</li>
                <li>YPF 1975 - 1992</li>
            </ol>
        </section>

        <section id="proyectos">
            <h2>Proyectos</h2>
            <ul>
                <li>ARBA desarrollo visor web gis propositos generales</li>
                <li>Municip. La Plata Sistema control certificaciones
                    obras viales geolocalizadas.
                </li>
                <li>Desarrollo aplicación CAD para el
                    Consejo Prof. de Agrim de la Pcia. de Bs.As.
                    2008 - 2013
                </li>
            </ul>
        </section>
        <section id="tecnoFavoritas">
            <h2>Tecnologías favoritas</h2>
            <ol type="a">
                <li>Html</li>
                <li>Css</li>
                <li>Javascript</li>
                <li>Angular</li>
                <li>Node.js</li>
                <li>.Net C#</li>
            </ol>
        </section>

        

        <section>
            <h2>Preguntas frecuentes</h2>
            <details>
                <summary>
                    Los plugines de cad son gratuitos?
                </summary>
                <p>Los plugines son inicialmente gratuitos, pero en algún
                    momento serán de pago.
                </p>
            </details>
            <details>
                <summary>
                    Los plugines de cad funcionan con cualqueir versión del programa cad?
                </summary>
                <p>Esto plugines están desarrollados y testeados en la versión 2022 del progama cad</p>
            </details>
        </section>

        <section>
            <h2>Formulario de contacto</h2>
            <form method="post" action="/">
                <fieldset>
                    <legend>Información personal</legend>
                    <div>
                        <label for="name">Nombre</label><!-- se puede tambien envolver el
                    input con el label y en ese caso no es necesario poner el for y
                    se puede omitir el id del input -->
                        <input type="text" id="name" name="name" placeholder="Ingresar nombre" required>
                    </div>
                    <div>
                        <label for="email">email</label>
                        <input type="email" id="email" name="email" placeholder="email" required>
                    </div><!-- usar div para agrupar y poner display: block -->
                </fieldset>
                <fieldset>
                    <legend>Información adicional</legend>
                    <label for="telefono">Tel.</label>
                    <input type="tel" id="telefono" name="telefono" pattern="[0-9]{9}">
                </fieldset>
                <fieldset>
                    <legend>Otros</legend>
                    <div><label for="why">Por que tema es el contacto</label>
                        <select name="why" id="why">
                            <option value="1">Trabajo</option>
                            <option value="2">Duda</option>
                            <option value="3">Mas información</option>
                        </select>
                    </div>
                    <div>
                        <datalist id="lenguajes">
                            <option value="Javascript"></option>
                            <option value="Python"></option>
                            <option value="Java"></option>
                            <option value="C#"></option>
                        </datalist>
                        <label for="lenguajes">Seleccionar un lenguaje</label>
                        <input list="lenguajes" name="lenguajes">
                    </div>
                    <div>
                        <label for="terminos">¿Aceptas los términos?</label>
                        <input type="checkbox" id="terminos" name="terminos" required>
                    </div>
                </fieldset>
                <!-- <input type="submit" value="Enviar contacto"> -->
                <!-- se puede usar input o button para enviar el formulario,
                pero button es mas claro y los botones que están dentro de un
                formulario son todos de tipo submit, por lo tanto tambien se puede
                eliminar el atributo type="submit". Si quiero un boton dentro de un
                formulario y que no sea tipo submite hay que ponerle type="button" -->
                <button type="submit">Enviar</button>
            </form>
        </section>
    </main>
    <footer class="row text-center sticky-bottom">
        <em class="col">Copyright &copy; Marcelo Hosan.</em>
        <a class="col" href="mailto:mhosan@gmail.com"><em>Enviarme un correo</em></a>
        <!-- <a class="col" href="tel:+542214295363">Llamar por tel.</a> -->
    </footer>
</section>