nav {
    height: 33px;
    padding-top: 2px;
}

nav>a {
    background-color: rgb(159, 198, 224);
    color: black;
    border-radius: 3px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 5px;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

main p:first-of-type {
    text-align: center;
    font-style: italic;
}

footer {
    position: fixed;
    width: 101%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(159, 198, 224);
    color: black;
}

footer > a {
    color: black;
}