<section class="container-fluid fondo" style="position: fixed; height:100vh;">

    <header class="row text-center mb-2 sticky-top">

        <a routerLink="/" class="btn btn-secondary btn-sm col-1 mb-1 mt-1"
            style="width: 5vw; height: 30px; margin-left: 45px;">Home</a>

        <h3 class="col-10">
            Portfolio de M.H.
        </h3>

        <a class="col mt-1" download href="assets/cvHosan.pdf">
            <img src="assets/images/bajar3.png" alt="Bajar CV" style='max-width: 5vh; max-height: 5vh;'
                title="Descargar C.V.">
        </a>

        <nav style="background-color: rgb(200, 200, 200); border-radius: 6px;">
            <a routerLink="./dos">Experiencia</a>
            <a routerLink="./tres">Proyectos</a>
            <a routerLink="./uno">Tecnologías favoritas</a>
            <a routerLink="./cuatro">Preguntas frecuentes</a>
            <!-- --><a target="_blank" href="https://github.com/mhosan" ref="noreferrer">Repo Github</a>
            <a target="_blank" href="https://gitlab.com/users/mhosan/projects" ref="noreferrer">Repo GitLab</a>
            <a target="_blank" href="https://bitbucket.org/mhosan/workspace/repositories/" ref="noreferrer">Repo Bitbucket</a> 
        </nav>
    </header>

    <main>
        <div class="row">
            <p class="col-11">+ 30 años experiencia en sistemas.
                Desarrollador desktop y web.
                + 9 años Angular.
            </p>
            <div class="col">
                <img title="Marcelito" src="assets/images/perfil-removebg-preview.png" alt="Una foto de M.H."
                    style='position:absolute; right: 1vw; max-width: 10vh; max-height: 10vh;'>

            </div>
        </div>
        <router-outlet></router-outlet>
    </main>

    <footer class="row text-center sticky-bottom">
        <em class="col">Copyright &copy; Marcelo Hosan.</em>
        <a class="col" href="mailto:mhosan@gmail.com"><em>Enviarme un correo</em></a>
        <!-- <a class="col" href="tel:+542214295363">Llamar por tel.</a> -->
    </footer>
</section>