<section class="row justify-content-center">
    <div class="col col-11">
        <h2>Preguntas frecuentes</h2>
        <details>
            <summary>
                Los plugines de cad son gratuitos?
            </summary>
            <p>Los plugines son inicialmente gratuitos, pero en algún
                momento serán de pago.
            </p>
        </details>
        <details>
            <summary>
                Los plugines de cad funcionan con cualqueir versión del programa cad?
            </summary>
            <p>Esto plugines están desarrollados y testeados en la versión 2022 del progama cad</p>
        </details>
    </div>
</section>