<nav class="navbar fixed-top py-0" style="background-color: #d9d9d9">
    
        <a class="navbar-brand" href="#">
            <span class="fw-bold px-2">MH - ArgenGis</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" id="OpenMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="offcanvas offcanvas-end offcanvas-menu" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">ArgenGis</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

                    <h6 class="card-title">CAPAS BASE</h6>
                    <div class="card" style="width: 17rem; height: 9rem; overflow:auto;">
                        <div class="card-body">
                            <ul class="list-group" *ngFor="let item of capasBase">
                                <li class="list-group-item d-flex justify-content-between align-items-center py-0" (click)="capaSeleccionadaBase(item.id,item.capaBase,item.nombre,item.nombreFantasia,item.encendido)">
                                    <h5>{{ item.nombreFantasia }}</h5>
                                    <span *ngIf="item.encendido==false"><i class="fa fa-eye-slash fa-1x"></i></span>
                                    <span *ngIf="item.encendido==true"><i class="fa fa-eye fa-1x"></i></span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <h5 class="card-title mt-3">CAPAS SUPERPUESTAS (OVERLAY)</h5>
                    <div class="card" style="width: 17rem; height: 9rem; overflow:auto; margin-right: 1vh;">
                        <div class="card-body">
                            <ul class="list-group" *ngFor="let item of capasOverlay">
                                <li class="list-group-item d-flex justify-content-between align-items-center py-0" (click)="capaSeleccionadaOverlay(item.id,item.capaBase,item.nombre,item.encendido)">
                                    <h5>{{ item.nombreFantasia }}</h5>
                                    <span *ngIf="item.encendido==false"><i class="fa fa-eye-slash fa-1x"></i></span>
                                    <span *ngIf="item.encendido==true"><i class="fa fa-eye fa-1x"></i></span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li> -->
                </ul>
                <button class="btn btn-secondary btn-sm mt-3" (click)="geolocaLeaflet()">
                    Ubicar mi posición con Leaflet!
                </button>
                <button class="btn btn-secondary btn-sm mt-3" (click)="geolocaHtml()">
                    Ubicar mi posición con html!
                </button>

                <form class="d-flex mt-4" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    
</nav>