.fondo {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
  height: 100vh;
  background-image: url('/assets/images/fondo1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}


h1 {
    text-align: center;
    color: white;
    margin-top: 5vh;
}
h3 {
  text-align: center;
  color: white;
  margin-top: 3vh;
}

.parent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;

  }
  /* .card {
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
  } */
  .card {
    height: 100%;
  }
  .card .card-body {
    overflow: auto;
  }
  .footer {
    background-color: #09f;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-style: italic;
  }