<div class="container-fluid fondo">
    <h1>Argengis</h1>
    <h3>Empowering CAD + GIS</h3>
    <div class="parent">
        <div class="card me-5" style="width: 18rem;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <h5 class="card-header text-center">Add-ons (Plugins) para Autocad</h5>
            <div class="card-body">
                <p class="card-text">
                    Add-ons (Plugins) para Autocad
                    <!-- These add-ons run within the application. They must be downloaded and installed on the computer
                    where AutoCAD is running. -->
                    Estos complementos se ejecutan dentro de la aplicación cad. Deben ser descargados e instalados en la 
                    computadora donde se los quiere utilizar.
                </p>
                <p class="card-text">
                    <!-- The trial version works fully, without restrictions, for free, for seven days. -->
                    La versión de prueba funciona en su totalidad, sin ninguna restricción, por siete días.
                </p>
            </div>
            <div class="card-footer text-center">
                <a routerLink="/cad" class="btn btn-primary btn-sm">Cad</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <!--  <img src="assets/ruteo/ruteoLlegada01.png" alt="..." > -->
            <h5 class="card-header text-center">Visor Gis Web<!-- Web GIS Viewer --></h5>
            <div class="card-body">
                <p class="card-text">
                    <!-- Web GIS viewer with management of base layers and overlay layers. It features a routing function to
                    establish the optimal route between two points. -->
                    Visor Gis web con manejo de capas base y capas superpuestas (overlays). Contiene una función de ruteo
                    para establecer la ruta optima entre dos puntos.
                </p>
                <p class="card-text">
                    <!-- It's a free version that works without restrictions. It's intended as a base map for web GIS developments. -->
                    Es una versión libre que funciona sin restricciones. Está pensada como un mapa base para desarrollos gis web.
                </p>
            </div>
            <div class="card-footer text-center">
                <a routerLink="/mapa" class="btn btn-primary btn-sm">Gis (map)</a>
            </div>
        </div>
        <div>  
        </div>
    </div>
    <footer class="footer">
        <a routerLink="/portfolio" style="color: black;">Portfolio</a>  &copy; M.Hosan 2024
    </footer>
</div>