<div class="container-fluid fondo">
    <h1>Argengis</h1>
    <h3>Potenciando cad + gis</h3>
    <div class="parent">

        <div class="card me-5" style="width: 18rem;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 class="card-title">Plugins para Autocad</h5>
                <p class="card-text">
                    Complementos (plugins) para Autocad.     
                    Estos complementos se ejecutan dentro de la aplicación.
                    Deben ser descargados e instalados en el equipo donde se 
                    ejecuta Autocad.
                </p>
                <p class="card-text">
                    La versión trial (de prueba) funciona por completo, sin 
                    restricciones, en forma gratuita, por siete dias.
                </p>
            </div>
            <div class="card-body">
                <a routerLink="/cad" class="card-link">Cad</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <!--  <img src="assets/ruteo/ruteoLlegada01.png" alt="..." > -->
            <div class="card-body">
                <h5 class="card-title">Visor Gis web</h5>
                <p class="card-text">
                    Visor Gis web con manejo de capas (layers)
                    base y capas (layers) superpuestos (overlays).
                    Cuenta con una función de Ruteo para establecer
                    la ruta optima entre dos puntos.
                </p>
                <p class="card-text">
                    Es una versión gratuita que funciona sin restricciones.
                    Esta pensada como mapa base para desarrollos gis web.
                </p>
            </div>
            <div class="card-body">
                <a routerLink="/mapa" class="card-link">Gis (mapa)</a>
            </div>
        </div>

    </div>
</div>