<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mapa</title>
</head>

<body>
  
  <div id="mapid">
    <button (click)="capaWFSArba()" style="position: absolute; z-index: 5000; top: 10px;">Capa Partidos de Arba</button>
    <button (click)="capaCircuitos()" style="position: absolute; z-index: 5000; top: 40px;">Capa Circuitos Electorales</button>
  </div>  
</body>
</html>