<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mapa</title>
</head>

<body>
  <div id="mapid">
    <button class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#menu"
      style="position: absolute; z-index: 5000; top: 10px; left: 10px;">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </button>
    <div class="collapse" id="menu">
      <button class="btn btn-secondary btn-sm" (click)="capaWFSArba()"
        style="position: absolute; z-index: 5000; top: 50px; left: 10px;">Capa Partidos de Arba</button>
      <button class="btn btn-secondary btn-sm" (click)="capaCircuitos()"
        style="position: absolute; z-index: 5000; top: 90px; left: 10px;">Capa Circuitos Electorales
      </button>
      <button class="btn btn-secondary btn-sm" (click)="capaSecciones()"
        style="position: absolute; z-index: 5000; top: 130px; left: 10px;">Capa Secciones Electorales
      </button>
    </div>
</body>

</html>