<section class="row justify-content-center">
    <div class="col col-11">
        <h2>Experiencia</h2>
        <ol reversed>
            <li>ARBA 2005 - actualidad</li>
            <li>
                Docente GIS IPAP 2015 - actualidad
                <a target="_blank" href="https://sites.google.com/view/cursosqgis/inicio">( Cursos )</a>
            </li>
            <li>Tsoft - YPF 2023</li>
            <li>Stefanini - Prisma Medios de Pago 2022</li>
            <li>Municip. La Plata 1995 - 2007</li>
            <li>Consejo Prof. de Agrim. 1998 - 2005</li>
            <li>YPF 1975 - 1992</li>
        </ol>
    </div>
</section>