<section class="row justify-content-center">
    <div class="col col-11">
        <h2>Tecnologías favoritas</h2>
        <ol>
            <li>Html - Css - Javascript</li>
            <li>Angular, desde versión 6</li>
            <li>Node.js - Nest.js</li>
            <li>.Net (Framework y Core)</li>
            <ol type="A">
                <li>C#</li>
                <li>Visual Basic (desktop)</li>
                <li>Entity Framework</li>
            </ol>
            <li>
                MongoDB (no sql)
            </li>
            <li>SQL Server (datos tabulares y datos geoespaciales)</li>
            <li>GIS:</li>
            <ol type="A">
                <li>Desktop: QGIS y ArcView</li>
                <li>Servidor de mapas: GeoServer y Mapserver</li>
                <li>Libreria cartográfica: Leaflet y OpenLayers</li>
            </ol>
            <li>AutoLisp (plugins para Autocad)</li>
        </ol>
    </div>
</section>